* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f2f7;
    height: 1450px;
}

.mainHeading {
    margin-top: 20px;
    display: absolute;
    padding-left: 300px;
    width: 100%;
}

.mainHeading h1 {
    font-size: 32px;
    font-weight: 600;
}

.mainHeading h3 {
    font-size: 16px;
    font-weight: 400;
}

.message {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 940px;
    top: 35px;
}
.message span {
    background-color: #ffbb54;
    border: 2px solid #f3f2f7;
    border-radius: 0.8em;
    box-sizing: content-box;
    width: 14px;
    height: 14px;
    padding: 5px;
    position: absolute;
    color: white;
    margin: -34px 0 0 32px;
    font-size: 10px;
    font-weight: 600;
}
.message button {
    background: transparent;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: content-box;
    padding: 5px;
}

.notification {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 1010px;
    top: 35px;
}
.notification span {
    background-color: #58cdff;
    border: 2px solid #f3f2f7;
    border-radius: 0.8em;
    box-sizing: content-box;
    width: 14px;
    height: 14px;
    padding: 5px;
    position: absolute;
    color: white;
    margin: -34px 0 0 32px;
    font-size: 10px;
    font-weight: 600;
}
.notification button {
    background: transparent;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: content-box;
    padding: 5px;
}

.avatar {
    height: 60px;
    width: 60px;
    display: flex;
    position: absolute;
    left: 1090px;
    top: 18px;
}

.memory {
    background-color: white;
    position: absolute;
    width: 260px;
    height: 190px;
    border-radius: 2em;
    padding-top: 30px;
    padding-left: 30px;
    margin: 50px 20px 20px 300px;
}

.memory h3 {
    height: 30px;
    width: 100px;
    font-size: 12px;
    font-weight: 400;
}
.memory h2 {
    font-weight: 600;
    width: 100px;
    margin-bottom: 20px;
}
.memory #positivo25 {
    margin-top: 45px;
    color: #00a389;
    font-weight: 600;
}
.chart-container {
    position: absolute;
    margin-left: 110px;
    margin-top: -75px;
    width: 100px;
    height: 85px;
}

.visitors {
    background-color: white;
    position: absolute;
    width: 260px;
    height: 190px;
    border-radius: 2em;
    padding-top: 30px;
    padding-left: 30px;
    margin: 50px 20px 20px 595px;
}
.visitors h3 {
    height: 30px;
    width: 100px;
    font-size: 12px;
    font-weight: 400;
}
.visitors h2 {
    font-weight: 600;
    width: 100px;
    margin-bottom: 20px;
}
.visitors #negativo44 {
    margin-top: 45px;
    color: #ff5b5b;
    font-weight: 600;
}



.new-users {
    background-color: white;
    position: absolute;
    width: 260px;
    height: 190px;
    border-radius: 2em;
    padding-top: 30px;
    padding-left: 30px;
    margin: 50px 20px 20px 890px;
}
.new-users h3 {
    height: 30px;
    width: 100px;
    font-size: 12px;
    font-weight: 400;
}
.new-users h2 {
    font-weight: 600;
    width: 100px;
    margin-bottom: 20px;
}
.new-users #positivo25 {
    margin-top: 45px;
    color: #00a389;
    font-weight: 600;
}


.server-request {
    background-color: white;
    position: absolute;
    width: 850px;
    height: 280px;
    border-radius: 2em;
    padding: 10px;
    margin: 280px 20px 20px 300px;
}
.server-request h3 {
    position: absolute;
    margin: 10px 0 0 20px;
    font-weight: 600;
    font-size: 24px;
}

.visitor-chart {
    width: 850px;
    height: 390px;
    position: absolute;
    margin: 600px 20px 20px 300px;
    display: flex;
    justify-content: space-between;
}
.visitors-2, .chart-summary {
    background-color: white;
    width: 48%;
    display: flex;
    border-radius: 2em;
}
.visitors-2 h3 {
    padding: 25px 0px 15px 25px;
    font-weight: 600;
    font-size: 22px;
}
.visitors-2 h2 {
    font-weight: 400;
    position: absolute;
    padding: 60px 0 0 25px;
    font-size: 36px;
    color: #00a389;
}
.visitors-2 h4 {
    padding: 65px 0 0 200px;
    position: absolute;
    font-weight: 500;
    font-size: 14px;
}
.visitors-2 h5 {
    padding: 85px 0 0 200px;
    position: absolute;
    font-weight: 500;
    font-size: 12px;
}
.visitors-2 p {
    padding: 30px 0px 0px 210px;
    font-size: 12px;
    color:  #ab54db;
    font-weight: 600;
}
.visitors2-chart-container {
    width: 390px;
    height: 220px;
    position: absolute;
    margin: 140px 0 0 10px;
}

.chart-summary-container {
    margin: 80px 0 0 30px;
    position: absolute;
    height: 250px;  
    width: 350px;
}
.chart-summary h3 {
    margin: 30px 0 0 30px;
    position: absolute;
    font-weight: 600;
    font-size: 22px;
}
.chart-summary h4 {
    margin: 35px 0px 0px 280px;
    font-size: 12px;
    color:  #ab54db;
    font-weight: 600;
    position: absolute;
}
#fixed-server-number, #down-servers-number, #running-number {
    position: absolute;
    margin-top: 325px;
    font-size: 28px;
    font-weight: 600;
    color: black;
}
#fixed-server-number {
    margin-left: 70px;
}
#down-servers-number {
    margin-left: 190px;
}
#running-number {
    margin-left: 285px;
}

.user-review {
    width: 850px;
    height: 280px;
    position: absolute;
    margin: 1030px 20px 20px 300px;
}
.user-review h3 {
    font-size: 22px;
    font-weight: 600;
}
.user-review h4 {
    color: #a3a3a3;
    font-weight: 400;
    font-size: 12px;
}
.user-review .navigation-button {
    background: transparent;
    border: none;
    cursor: pointer;
    box-sizing: content-box;
    padding: 8px 6px;
    display: flex;
    justify-content: center;
    border-radius: 0.7em;
    transition: background-color 0.5s;
}
.navigation-button svg {
    fill: #ad59dc50;
    transition: fill 0.5s;
}
.navigation-button:hover svg {
    fill: #ad59dc;
    transition: fill 0.5s;
}
.user-review-left {
    position: absolute;
    margin: -40px 0px 0px 775px;
}
.user-review-rigth {
    position: absolute;
    margin: -40px 0px 0px 815px;
}

.user-review .navigation-button:focus, .user-review .navigation-button:active {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.user-review .navigation-button:hover {
    background-color: #ad59dc30;
    transition: 0.5s;
}
.user-cards-div {
    overflow: hidden;
}

.user-cards-list {
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 0%;
    height: 225px;
    margin-top: 20px;
    width: 200%;
    list-style: none;
    transition: left 0.5s
}
.user-card {
    background-color: white;
    width: 16%;
    border-radius: 1.5em;
}
.user-card img {
    height: 60px;
    margin: 20px 15px 10px 20px;
}
.user-card h3 {
    font-weight: 600;
    font-size: 16px;
    margin: -75px 0 0 95px;
    width: 600px;
}
.user-card h4 {
    font-weight: 500;
    font-size: 12px;
    margin: 5px 0 0 95px;
    color: #a3a3a3;
}
.user-card p {
    font-size: 12px;
    margin: 15px 15px 0 30px;
    line-height: 1.7;
    color: black;
}
.button-archive {
    margin: 10px 0 0 20px;
    position: absolute;
    bottom: 15px;
    border: none;
    cursor: pointer;
    color: #ff5b5b;
    background: transparent;
    transition: background 0.5s;
    box-sizing: content-box;
    padding: 5px 10px;
    border-radius: 1em;
    font-weight: 600;
    font-size: 12px;
}

.button-accept {
    margin: 10px 0 0 100px;
    position: absolute;
    bottom: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #00a389;
    transition: background 0.5s;
    box-sizing: content-box;
    padding: 5px 10px;
    border-radius: 1em;
    font-weight: 600;
    font-size: 12px;
}
.button-published {
    position: absolute;
    bottom: 15px;
    display: flex;
    margin: 10px 0 0 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #00a389;
    transition: background 0.5s;
    box-sizing: content-box;
    padding: 5px 10px;
    justify-content: center;
    border-radius: 1em;
    font-weight: 600;
    font-size: 12px;
}
.button-published svg {
    margin-left: 10px;
}
.user-card button:focus, .user-card button:active {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.button-archive:hover {
    background: #ff5b5b50;
    transition: 0.5s;
}
.button-accept:hover {
    background: #00a38950;
    transition: 0.5s;
}
.button-published:hover {
    background: #00a38950;
    transition: 0.5s;
}

.left-sidebar {
    width: 250px;
    height: 1390px;
    position: absolute;
    background-color: white;
    border-radius: 2em;
    margin: 25px;
    margin-top: 10px;
}
.menu {
    width: 250px;
}
.menu a {
    text-decoration: none;
    color: black;
}
.menu h1 {
    font-size: 32px;
    height: 40px;
}
.menu h3 {
    font-weight: 400;
    font-size: 12px;
}
.logo {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-left: -10px;
    display: flex;
}
.logo-text {
    width: 59%;
    height: 100%;
    padding-left: 10px;
}
.logo-text h3 {
    padding-top: 5px;
    color: #969696;
    font-size: 10px;
}
.logo-svg {
    width: 40%;
    height: 100%;
    padding-left: 35px;
}

.itens button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 60px;
    border-radius: 1.5em;
    transition: background-color 0.5s;
}
.itens button:focus, .itens button:active {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.itens ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.itens li {
    height: 60px;
}
.itens {
    width: 80%;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 8px;
    transition: background-color 0.5s;
}

.itens button:hover {
    background-color: #ab54db30;
    color: #ab54db;
    transition: 0.5s;
}
.itens button:hover svg {
    fill: #ab54db;
    transition: 0.5s;
}
.itens a {
    font-size: 14px;
    padding-top: 15px;
    font-weight: 500;
    color: black;
    transition: color 0.5s;
    float: left;
}
.itens button:hover a {
    color: #ab54db;
    transition: 0.5s;
}
.itens svg {
    float: left;
    margin: 0px 20px 10px 20px;
    height: 24px;
    width: 24px;
    fill: #bdbebf;
    transition: fill 0.5s;
}

.footer {
    padding: 40px 0px 40px 20px;
}
.footer h4 {
    font-size: 12px;
    padding-left: 10px;
}
.footer p {
    padding-top: 10px;
    height: 30px;
    font-size: 10px;
}


.right-sidebar {
    width: 340px;
    position: relative;
    margin-left: 1170px;
    margin-top: -70px;
}
.search {
    text-align: center;
    height: 50px;
    width: 290px;
    background: #eceaf3;
    border: none;
    border-radius: 1em;
    margin-left: 25px;
    display: flex;
}
.search input[type=text] {
    font-size: 12px;
    color: black;
    width: 80%;
    padding-left: 20px;
    background:transparent;
    border: none;

}
.search button {
    width: 18%;
    background: transparent;
    border: none;
    cursor: pointer;
}
.search button:focus, .search button:active {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.search input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.loupe {
    margin-top: 5px;
}

.graphic {
    width: 320px;
    margin: 30px 05px;
}
.graphic h3, .problems h3 {
    font-weight: 600;
    margin-left: 10px;
}
.graphic h4, .problems h4 {
    font-weight: 400;
    font-size: 12px;
    color: #a3a3a3;
    margin-left: 10px;
}
.server-status-container {
    margin-top: 20px;
    height: 250px;
}

.problems {
    display: block;
}
.recent-problems {
    display: flex;
    margin-top: 30px;
    align-items: center;
    width: 100%;
}
.problem-logo {
    background-color: white;
    border-radius: 1em;
    width: 65px;
    height: 65px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 15px;
}
.problem-info {
    margin-left: -15px;
}
.problem-info h4 {
    padding-top: 7px;
}

.problem-status {
    box-sizing: content-box;
    padding: 10px 20px;
    background-color: #ff5b5b;
    border-radius: 0.8em;
    margin-left: auto;
}
.problem-status h3 {
    margin: 0px;
    font-size: 14px;
    color: white;
}
.stable {
    background-color: #00a389;
}
.warning {
    background-color: #ffbb54;
}

.latest-activity {
    margin-top: 30px;
}
.latest-activity h3 {
    font-weight: 600;
    margin-left: 10px;
}
.latest-activity h4, p {
    font-weight: 400;
    font-size: 12px;
    padding-top: 5px;
    color: #a3a3a3;
    margin-left: 10px;
}
.latest-activity li {
    list-style: none;
}

.timeline-description h4 {
    margin-top: -22px;
    font-size: 14px;
    color: black;
    font-weight: 600;
    padding-bottom: 5px;
}
.timeline-description p {
    line-height: 22px;
}
.timeline li{
    float: left;
    margin-top: 14px;
    margin-left: 15px;
    position: relative; 
    width: 98%;
    padding: 0px 10px 30px 13px;
    border-left: 1px solid #a3a3a3; 
    box-sizing: border-box;
}
.timeline li:first-child{
    margin-top: 40px;
}
.timeline li:last-child{
    border-left: none; 
}
.timeline li:after{
    content: ""; 
    width: 8px; 
    height: 8px; 
    border: 3.5px solid #b160dd; 
    position: absolute; 
    top: -14px;
    left: -8px; 
    border-radius: 50%;
}
