@import url(./bootstrap.min.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");



$secondary-color: #a3a3a3;
$background-li-hover: #f4d4fa;
$li-color-hover: #ab54db;
$company-down: #ff5b5b;
$company-stable: #00a389;
$company-warning: #ffbb54;

body {
    background-color: #f3f2f7;
    font-family: 'Poppins', sans-serif;
    color: black;
    display: flex;
}

#logo-left-sidebar, .offcanvas-header {
    svg {
        float: left;
        margin: 10px;
    }
    h2 {
        font-weight: 700;
        margin-top: 17px;
        margin-bottom: 0;
        font-size: 28px;
    }
    h6 {
        font-weight: 400;
        color: $secondary-color;
        font-size: 12px;
    }
}

@media (max-width: 1069px) {
    #lsidebar {
        display: none;
    }
}
@media (min-width: 1069px) {
    #offcanvas-btn {
        display: none;
    }
}

.left-sidebar, #offcanvas-sidebar {
    background: linear-gradient(white, white, #f6f5f9);
    border-radius: 2em;
    border: 1px solid white;
    margin: 10px;
    ul {
       margin-top: 30px;
    }
    li {
        border-radius: 0.8em;
        display: flex;
        align-items: center;
        transition: all 0.5s;
        margin-top: 10px;
        height: 50px;
        font-weight: 500;
        a {
            color: black;
            transition: all 0.5s;
            svg {
                margin: 0 15px;
                fill: $secondary-color;
                transition: fill 0.5s;
            }
        }
        a:focus {
            color: black;
        }
        a:hover {
            color: black;
        }
    }
    li:hover {
        background-color: $background-li-hover;
        transition: all 0.5s;
        a {
            color: $li-color-hover;
            transition: all 0.5s;
            svg {
                fill: $li-color-hover;
                transition: fill 0.5s;
            }
        }
    }
    footer {
        margin: 50px 10px 10px 30px;
        font-weight: 500;
        h5 {
            font-size: 14px;
            margin-bottom: 15px;
        }
        p {
            font-size: 10px;
            color: $secondary-color;
        }
    }
}

header {
    h2 {
        font-size: 32px;
        font-weight: 600;
    }
    h5 {
        font-size: 16px;
    }
    .notification {
        button {
            height: 40px;
            width: 50px;
            background: transparent;
            border: transparent;
            img {
                position: relative;
                width: 50px;
                top: -20px;
                left: -10px;
            }
            .notification-span {
                font-size: 14px;
                font-weight: 600;
                background-color: #ffbb54;
                color: white;
                position: relative;
                border-radius: .6em;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 33px;
                height: 33px;
                top: -45px;
                left: 15px;
                border: solid 3px #f3f2f7;
            }
            .bg-noti-span {
                background-color: #58cdff;
            }
        }
        button:hover {
            background: transparent;
        }
        button:focus {
            box-shadow: none;
        }
    }
}
.featured-cards {
    .fcard {
        background-color: white;
        border-radius: 1.5em;
        height: 180px;
        .fs-6 {
            position: relative;
            top: 20px;
            left: 30px;
        }
        .fs-2 {
            position: relative;
            top: 10px;
            left: 30px;
            font-weight: 600;
        }
        .chart-container {
            position: relative;
            width: 90px;
            height: 80px;
            top: -50px;
            left: 60%;
        }
        .fcard-difference {
            position: relative;
            left: 30px;
            top: -50px;
            font-weight: 500;
        }
    }
}
.card-title {
    font-size: 20px;
    font-weight: 500;
}
.fs-6-purple {
    font-size: 12px;
    font-weight: 500;
    color: $li-color-hover;
    padding-top: 15px;
}
.server-request {
    height: 270px;
    background-color: white;
    border-radius: 1.5em;
    p {
        position: relative;
        top: 20px;
        left: 25px;
        z-index: 10;
    }
    .server-request-container {
        position: relative;
        height: 250px;
        top: -40px;
    }
}
.vis-chart-summary {
    background-color: white;
    border-radius: 1.5em;
    .visitors2-chart-container {
        #visitors2-chart {
            height: 240px;
        }
    }
}
.chart-summary {
    background-color: white;
    border-radius: 1.5em;

}
.user-review-head {
    .fs-6 {
        color: $secondary-color;
    }
}

#carousel-nav {
    button {
        background-color: transparent;
        border: none;
        fill: #d1a5f5;
        transition: all 0.5s;
        width: 40px;
        height: 40px;
        margin-left: 5px;
    }
    button:hover{
        fill: $li-color-hover;
        background-color: #e8dbf3;
        transition: all 0.5s;
        border-radius: 0.5em;
    }
}

#slider {
    width: 830px;
    .item {
        background-color: white;
        border-radius: 1.5em;
        height: 300px;
        width: 260px;
        .fs-6-gray {
            color: $secondary-color;
            font-size: 14px;
        }
        img {
            height: 70px;
            width: 70px;
        }
        .btn-archive {
            color: #ff5b5b;
            background-color: transparent;
            transition: all 0.5s;
            border-radius: 0.8em;
        }
        .btn-archive:hover {
            background-color: #ff5b5b40;
            transition: all 0.5s;
        }
        .btn-accept, .btn-published {
            color: #00a389;
            background-color: transparent;
            transition: all 0.5s;
            border-radius: 0.8em;
        }
        .btn-accept:hover, .btn-published:hover {
            background-color: #00a38940;
            transition: all 0.5s;
        }
    }
}

.right-sidebar {
    width: 320px;
    .fs-5 {
        font-weight: 500;
    }
    .fs-6 {
        font-weight: 500;
    }
    .fs-6-gray {
        font-size: 12px;
        color: $secondary-color;
        line-height: 24px;
    }
    .input-group {
        height: 50px;
        input {
            background-color: #eceaf3;
            border: none;
            font-size: 14px;
            border-radius: 0.8em;
        }
        span {
            border: none;
            background-color: #eceaf3;
            cursor: pointer;
            border-radius: 0.8em;
        }
    }
    .server-status-container {
        height: 230px;
    }
    .recent-problems {
        .logo-company {
            background-color: white;
            height: 65px;
            width: 65px;
            border-radius: 1.1em;
        }
        .company-status {
            p {
                font-size: 12px;
                font-weight: 500;
            }
            .company-down {
                color: white;
                background-color: $company-down;
                padding: 10px 12px;
                border-radius: 0.8em;
            }
            .company-stable {
                color: white;
                background-color: $company-stable;
                padding: 10px 12px;
                border-radius: 0.8em;
            }
            .company-warning {
                color: white;
                background-color: $company-warning;
                padding: 10px 12px;
                border-radius: 0.8em;
            }
        } 
    }
    .latest-activity {
        ul.timeline {
            list-style-type: none;
            position: relative;
            li {
                margin: 20px 0;
                padding-left: 20px;
            }
            li:before {
                content: ' ';
                background: #f3f2f7;
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                border: 4px solid #ab54db;
                left: 20px;
                width: 20px;
                height: 20px;
                z-index: 400;
            }
        }
        ul.timeline:before {
            content: ' ';
            background: #d4d9df;
            display: inline-block;
            position: absolute;
            left: 29px;
            width: 2px;
            height: 100%;
            z-index: 400;
        }
    }
}
